# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Mac / Windows
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# Python packaging
build/
dist/
*.egg-info/
.eggs/
